<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Сервис генерации случайных последовательностей</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>
<div id="roof">

    <div id="menu">
        <ul class="menu">
            <li><a th:href="@{/index}" href="#">Главная</a></li>
            <li><a href="#">Задачи</a></li>
            <li><a th:href="@{/index}" href="#">О проекте</a></li>
        </ul>
    </div>
    <div class="name">
        <h3>Сервис генерации случайных последовательностей</h3>
    </div>
</div>

<div id="content">
    <div class="description">

    </div>
    <div class="input">
        <label> Введите длину последовательности от 10 до 100</label>
        <form th:action="@{/index}" method="POST">
            <input type="number" name="num" placeholder="000" value="10" pattern="[0-9]{3}" maxlength="3"
                   autofocus="autofocus" required="required"
                   min="10" max="100"
            >
            <input type="submit" value="Сгенерировать">
        </form>
    </div>
    <div>
        <label><h5 th:text="${label}"></h5></label>
        <h5><span>
            <span th:each="planet : ${array}">
               <p>
                <span th:text="${planet}">
<!--                    <span th:text="${ch}"></spanth:text>-->
                </span>
                </p>
            </span>
          </span></h5>
    </div>
</div>
</body>
</html>